doctype html

html
  head
    title Punjabi Class Registration
    link(rel='stylesheet', href='style.css')
  body
    h2 Success!
    p Your form was successfully submitted. Please #[a(href='index.html') click here] to return to the submission form.
